#chat .message .property-group.reminders .tag.check.success {
  background: rgba(150, 230, 150, 0.3);
}
#chat .message .property-group.reminders .tag.check.success .inline-roll.inline-result {
  background: rgba(90, 200, 90, 0.3);
}
#chat .message .property-group.reminders .tag.check.possible {
  background: rgba(230, 202, 150, 0.5);
}
#chat .message .property-group.reminders .tag.check.possible .inline-roll.inline-result {
  background: rgba(230, 180, 80, 0.5);
}
#chat .message .property-group.reminders .tag.check.failure {
  background: rgba(221, 45, 69, 0.15);
}
#chat .message .property-group.reminders .tag.check.failure .inline-roll.inline-result {
  background: rgba(255, 120, 138, 0.25);
}
#chat .message .property-group.reminders .tag.hint {
  font-style: italic;
}
#chat .message .property-group.reminders .tag.enriched .inline-roll.inline-result {
  padding: 0 0.25em;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0.22);
  background-color: rgba(255, 255, 255, 0.4);
  font-style: normal;
}
#chat .message .property-group.reminders .tag.enriched .inline-roll.inline-result i.fa-dice-d20 {
  display: none;
}
#chat .message .dice-formula.enlarged {
  font-size: 120%;
  /*line-height: 22px;*/
  margin: 0;
}
#chat .message .reminders {
  margin-top: 3px;
}
#chat .message .dice-formula .dice-total.compact {
  font-weight: bold;
  font-size: unset;
  background-color: transparent;
  border: none;
  box-shadow: none;
  line-height: unset;
}
.sheet form .warning-symbol-buffer {
  padding-right: 0.3em;
  flex: 0;
  line-height: 14pt;
  width: 16px;
  height: 16px;
}
.item-warning-symbol {
  padding: 0.3em;
  text-shadow: 0 0 3px #ffd000;
  flex: 0;
}
.lil-formula-warning {
  text-shadow: 0 0 7px #ff5700;
  left: -20px;
  flex: unset;
  padding: unset;
  position: relative;
  width: 0;
}
.pf1.sheet.actor .tab.attributes .traits .unbold {
  font-weight: normal;
}
.lil-spell-dc,
.lil-feats-possessed,
.lil-spells-known {
  flex: 0;
  font-size: 0.82em;
  white-space: nowrap;
  text-align: right;
  padding: 0 0.3em;
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.3);
  align-self: center;
  height: 20px;
  line-height: 1.8em;
  border-radius: 5px;
}
.sheet.actor .spellbook-group label.lil-spell-dc,
.sheet.actor .spellbook-group label.lil-feats-possessed,
.sheet.actor .spellbook-group label.lil-spells-known {
  margin-right: 2px;
}
.kbwks-use-counter {
  position: sticky;
  display: block;
  align-self: flex-end;
  color: white;
  /*text-shadow: 0 0 1px black;*/
  right: 0;
  border-top-left-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 0.3em;
  padding-top: 0.05em;
  padding-right: 0.1em;
  font-size: 80%;
}
.lil-token-linking-notification {
  background-color: white;
  border-radius: 7px;
  border: 1px solid black;
  flex: 0 0.01 6em;
  line-height: 1.5em;
  padding: 0.2em;
  font-weight: bold;
  max-height: 2em;
  text-align: center;
}
.lil-token-linking-notification.lil-token-linked {
  background-color: #ff120038;
}
.lil-token-linking-notification.lil-token-unlinked {
  background-color: #ff710038;
}
.kbwks-flow-break {
  flex-basis: 100%;
  height: 0;
  clear: both;
}
.kbwks-item-details {
  width: 100%;
  margin: 3px;
  padding: 0;
  margin-left: 0.5em;
  color: #353535;
  display: inline-flex;
}
.kbwks-item-details .icon {
  background-color: transparent;
}
.kbwks-item-details .item-detail {
  list-style: none;
  padding: 0 0.3em;
}
.kbwks-item-details .item-detail + .item-detail {
  border-left: ridge;
}
.pf1.sheet .sheet-header .summary {
  height: unset;
}
.pf1.sheet .sheet-header .summary li {
  width: unset;
  white-space: nowrap;
}
.lil-box {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  line-height: 1.5em;
}
.sheet.actor .traits label.natural-reach {
  flex: 0.1 2 4em;
}
.sheet.actor .traits label.natural-reach.unbold {
  color: #1e1e1e;
}
.lil-damage-type {
  margin-left: 3px;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
  font-size: 120%;
  line-height: 0;
}
.lil-damage-type ~ .lil-damage-type {
  margin-left: 2px;
}
.lil-size-constraint {
  flex: 0.2 0.2 12em;
  max-width: 16em;
}
.lil-warning,
.actor.sheet .item-detail.item-slot.lil-warning {
  background-color: rgba(255, 168, 60, 0.4);
}
.lil-error,
.actor.sheet .item-detail.item-slot.lil-error {
  background-color: rgba(255, 42, 42, 0.2);
}
.actor.sheet .item-detail.item-slot.lil-warning {
  color: rgba(0, 0, 0, 0.7);
}
.actor.sheet .item-detail.item-slot.lil-error {
  color: rgba(0, 0, 0, 0.7);
}
.lil-tooltip {
  max-height: unset;
  flex: unset;
  position: fixed;
  z-index: 100000;
  display: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
  line-height: 1.5em;
  padding: 0.3em;
  padding-left: 0.7em;
  padding-right: 0.7em;
  background-color: #ebe6e6;
  color: black;
  max-width: 32em;
  border: 1px solid #505050;
  border-radius: 7px;
}
.lil-skill-possibility {
  font-size: 12px;
  line-height: 1.2em;
  margin-right: 0.5em;
}
.lil-skill-possibility span:nth-child(1) {
  margin-right: 0.5em;
}
.lil-spacer {
  flex: 1;
}
.lil-right-buffer {
  margin-right: 0.5em;
}
.lil-left-buffer {
  margin-left: 0.5em;
}
.lil-middling-content {
  vertical-align: middle;
}
.sheet .lil-charge-source label.lil-charge-source-label {
  border: 1px solid black;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 3px;
  padding-right: 5px;
  margin: 0;
}
.lil-roll-button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  text-align: right;
  padding: 1px 3px;
  font-size: 12px;
  vertical-align: top;
  float: right;
  display: inline-block;
  position: relative;
  bottom: 1px;
}
.lil-roll-button > i {
  padding-right: 0.3em;
}
.lil-dice-tooltip-source {
  text-align: center;
  font-variant: small-caps;
  font-size: 14px;
  white-space: pre-wrap;
  word-break: keep-all;
}
#lil-quick-action-label {
  position: relative;
}
#sidebar #compendium .compendium-pack {
  display: flex;
  padding: 2px 3px;
  margin: 0;
}
#sidebar #compendium .compendium-pack h4 {
  flex: 1 1;
  display: flex;
}
#sidebar #compendium .compendium-pack h4 a {
  flex: 1;
}
#sidebar #compendium .compendium-pack h4 .status-icons {
  flex: 0;
  position: unset;
}
#sidebar #compendium .compendium-pack footer span {
  flex: 0 1;
  padding: 0;
}
#sidebar #compendium .compendium-pack footer span.entity-type {
  display: none;
}
#chat .chat-message .lil-raw-roll {
  background-image: url(../../../icons/svg/d20-grey.svg);
  background-size: 24px 24px;
  width: 24px;
  filter: contrast(150%) brightness(120%);
  display: inline-block;
}
#chat .chat-message .lil-raw-roll.failure {
  color: #a72e00;
  text-shadow: 0 0 7px #ff6e00ed;
}
#chat .chat-message .lil-raw-roll.success {
  color: #006891;
  text-shadow: 0 0 7px #00ffd49c;
}
#chat .chat-message .lil-roll-bonus {
  font-weight: normal;
  vertical-align: top;
  font-size: 12px;
  line-height: 1.6em;
}
